# Get auto line ending formatting for all files
* text=auto
# Set everything to text
*.* text
# Make sure runners keep LF endings
*.scr eol=lf
# Dont touch objects! (try not to push run files in the first place)
*.o binary
*.run binary
